<div fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
  <md-card>
    <md-card-header>
      <md-card-title>Softhinker</md-card-title>
      <md-card-subtitle>Powering early learning with insights</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="https://www.gravatar.com/avatar/a2de0ea35627040c8c6ecc377552d27f?s=328&d=identicon&r=PG">
    <md-card-content>
      <p>
        Child is father of the man
      </p>
    </md-card-content>
    <md-card-actions fxLayoutAlign="end">
      <a href="http://softhinker.com" target="_blank" md-button>LIKE</a>
    </md-card-actions>
  </md-card>
</div>